.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me {
    width: 25em;
    height: 30vh;
    aspect-ratio: 1/1;
    border-radius: 1em;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary),
        transparent
    );
    display: grid;
    place-items: center;
}

.about__me-image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about__me-image:hover {
    transform: rotate(0deg);
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: .5em;
    padding: 1em;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about__icon {
    color: var(--color-primary);
    font-size: 2em;
    margin-bottom: .3em;
}

.about__card h5 {
    font-size: 1.5em;
    width:fit-content;
    margin: 0 auto;
}

.about__card small {
    font-size: 1em;
    color: var(--color-light);
}

.about__content p {
    margin: .3em 0 .5em 0;
    color: var(--color-light);
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES =================== */

@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about__me {
        width: 50%;
        margin: .5em auto 1em;
    }
    .about__content p {
        margin: .3em auto .8em;
    }
}

/* ================ MEDIA QUERIES (SMALL DEVICES =================== */

@media screen and (max-width: 600px) {
    .about__me {
        /* width: 650%; */
        width: 90%;
        margin: 0 auto 1em;
    }
    .about__cards {
        grid-template-columns: 1fr;
        gap: .3em;
    }
    .about__content {
        text-align: center;
    }
    .about__content p {
        margin: 1em 0;
    }
}
