footer {
    background: var(--color-primary);
    padding: 1em 0 5em 0;
    text-align: center;
    font-size: 1em;
    margin-top: 2em;
}

footer a {
    color: var(--color-light);
}

.footer__logo {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 1em;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    margin: 0 auto .5em;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: .5em;
    margin-bottom: 1em;
}

.footer__socials a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 1em;
    border-radius: 1em;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover {
    background: transparent;
    /* color: var(--color-bg); */
    border-color: var(--color-bg);
}

.footer__copyright {
    margin-bottom: 3em;
    color: var(--color-bg);
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) =================== */

@media screen and (max-width: 1024px) {
    .footer__socials {
        margin-top: 2em;
    }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) =================== */

@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1em;
    }
    .footer__socials {
        margin-top: 2em;
        margin-bottom: 1.5em;
    }
}
