#testimonials {
    margin-top: 3em;
}
#testimonials h2 {
    font-size: 2em;
}

.container.testimonials__container {
    width: 40%;
    padding-bottom: 3em;
}

.client__avatar {
    width: 5em;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1em;
    border: .3em solid var(--color-primary-variant);
}

.testimonial {
    background: var(--color-primary-variant);
    text-align: center;
    padding: .5em;
    border-radius: 1em;
    user-select: none;
    /* margin-bottom: 1em; */
}

.client__review {
    color: var(--color-primary-variant);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 1em auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES =================== */

@media screen and (max-width: 1024px) {
    .container.testimonials__container {
        width: 60%;
    }
}

/* ================ MEDIA QUERIES (SMALL DEVICES =================== */

@media screen and (max-width: 600px) {
    .container.testimonials__container {
        width: var(--container-width-ms);
    }
    .client__review {
        width: var(--container-width-ms);
    }
}