#experience {
    margin-top: 3em;
}
#experience h2 {
    font-size: 2em;
}

.experience__container {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5em;
}

.experience__container > div {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1em;
    padding: .5em 2em;
    transition: var(--transition);
}

.experience__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: .5em;
    color: var(--color-primary);
    font-size: 1.5em;
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    padding: 1em;
}

.experience__details {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: .5em;
    font-size: 1.3em;
}

.experience__details-icon {
    margin-top: 1em;
    color: var(--color-bg);
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES =================== */

@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }
    .experience__container > div {
        width: 80%;
        margin: 0 auto;
        padding: 1em;
    }
    .experience__content {
        padding: .5em;
    }
}

/* ================ MEDIA QUERIES (SMALL DEVICES =================== */

@media screen and (max-width: 600px) {
    .experience__container {
        gap: .5em;
    }
    /* .experience__container > div {
        width: 100%;
        margin: 1em .5em;
    } */
    .experience__container > div {
        width: 100%;
        margin: 1em 0;
    }
    .experience__content {
        grid-template-columns: 1fr;
    }
}
